<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile
  [colspan]="1"
  [rowspan]="1">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>The Loves of my Life</mat-card-title>
      <mat-card-subtitle>Chillin' at home</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="/assets/Girls.jpg">
    <mat-card-content>
      <p>
        This is my fianceé and our 2 pets. I love them more than anything else in the world!
      </p>
    </mat-card-content>
  </mat-card>
</mat-grid-tile>
  <mat-grid-tile
  [colspan]="2"
  [rowspan]="1">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Woodworking</mat-card-title>
      <mat-card-subtitle>My shop</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/Shop.jpg">
    <mat-card-content>
      <p>
        I like to woodwork as a hobby. I'm not very good, but I still enjoy it.
      </p>
    </mat-card-content>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile
[colspan]="1"
[rowspan]="1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>The Loves of my Life</mat-card-title>
    <mat-card-subtitle>Chillin' at home</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="/assets/Girls.jpg">
  <mat-card-content>
    <p>
      This is my fianceé and our 2 pets. I love them more than anything else in the world!
    </p>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
<mat-grid-tile
[colspan]="2"
[rowspan]="1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Woodworking</mat-card-title>
    <mat-card-subtitle>My shop</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/Shop.jpg">
  <mat-card-content>
    <p>
      I like to woodwork as a hobby. I'm not very good, but I still enjoy it.
    </p>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
<mat-grid-tile
[colspan]="1"
[rowspan]="1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>The Loves of my Life</mat-card-title>
    <mat-card-subtitle>Chillin' at home</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="/assets/Girls.jpg">
  <mat-card-content>
    <p>
      This is my fianceé and our 2 pets. I love them more than anything else in the world!
    </p>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
<mat-grid-tile
[colspan]="2"
[rowspan]="1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Woodworking</mat-card-title>
    <mat-card-subtitle>My shop</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/Shop.jpg">
  <mat-card-content>
    <p>
      I like to woodwork as a hobby. I'm not very good, but I still enjoy it.
    </p>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
<mat-grid-tile
[colspan]="1"
[rowspan]="1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>The Loves of my Life</mat-card-title>
    <mat-card-subtitle>Chillin' at home</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="/assets/Girls.jpg">
  <mat-card-content>
    <p>
      This is my fianceé and our 2 pets. I love them more than anything else in the world!
    </p>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
<mat-grid-tile
[colspan]="2"
[rowspan]="1">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Woodworking</mat-card-title>
    <mat-card-subtitle>My shop</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/Shop.jpg">
  <mat-card-content>
    <p>
      I like to woodwork as a hobby. I'm not very good, but I still enjoy it.
    </p>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
</mat-grid-list>
